h1,
h2 {
  font-family: "Recursive", sans-serif;
  color: #B0B0B0;
  text-transform: lowercase;
}

a {
  text-decoration: underline;
  color: #f3f3f3;
}

a:hover {
  color: #F97582;
}

a:hover * {
  color: #F97582 !important;
}

strong {
  font-family: "Recursive", sans-serif;
  color: #f3f3f3;
}

span {
  color: #F97582;
  white-space: nowrap;
}
